.experience {
  padding: 80px 20px 0px 20px;
  background-color: var(--secondary-blue);
  color: var(--white-color);
}

.job__info {
  padding: 5px 0;
}

.job__info h3 {
  font-size: 24px;
}

.job__info h4 {
  font-size: 20px;
}

.experience__duties {
  display: grid;
  grid-template-columns: auto 2fr;
  column-gap: 2rem;
}

.experience__duties svg {
  color: var(--pink-color);
  margin-top: 4px;
}

.btn-link {
  border: none;
  background-color: var(--primary-blue) !important;
  color: white;
  text-decoration: none !important;
  text-transform: capitalize;
  font-size: 16px;
}

.btn__active,
.btn-link:focus,
.btn-link:hover {
  color: var(--pink-color);
  border-left: 2px solid var(--pink-color);
}
