.hero {
  padding: 50px 20px;
  color: var(--white-color);
  position: relative;
}

.hero h2 {
  font-size: 42px;
  font-weight: 700;
}

.hero__lead {
  font-size: 24px;
}

.social__icons {
  font-size: 28px;
}

.social__icons svg {
  color: var(--pink-color) !important;
}

.social__icons svg:hover {
  color: var(--white-color) !important;
}
