.hero {
  padding: 50px 20px;
  color: var(--white-color);
}

.hero h2 {
  font-size: 52px;
  font-weight: 700;
}

.hero__whatIDo {
  font-size: 27px;
}

.social__icons {
  font-size: 32px;
}

.social__icons svg {
  color: var(--pink-color) !important;
}
