.projects {
  padding: 0 20px 50px 20px;
}

.card {
  background-color: var(--primary-blue);
  transition: transform 100ms ease-in;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(112, 75, 76, 0.5);
}

.card__content {
  padding: 20px 0;
}

.card__bottom svg {
  color: var(--pink-color);
  font-size: 20px;
}

.card__bottom svg:hover {
  color: var(--white-color);
}

.badge__icons span {
  word-spacing: 15px;
  font-size: 15px;
  font-weight: 300;
}

.card:hover {
  background: var(--secondary-blue) !important;
  cursor: pointer;
  color: var(--white-color);
}
