:root {
  --primary-blue: #333647;
  --secondary-blue: #282a39;
  --pink-color: #f97b58;
  --white-color: #fff;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--secondary-blue) !important;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#333647, #f97b58);
  clip-path: circle(25% at right 10%);
}

a {
  background-color: none !important;
}

p {
  font-size: 18px;
}

.center-line {
  background-color: var(--glyphicons-color);
  height: 2px;
  margin: 0px auto 25px;
  width: 150px;
}

.center-line {
  background-color: var(--pink-color);
  height: 2px;
  margin: 0px auto 25px;
  width: 150px;
}

@media (max-width: 640px) {
  .hero__intro,
  .hero__name,
  .experience h2,
  .projects h2,
  .job__info {
    font-size: 30px !important;
    margin-top: -10px;
  }

  .hero__intro {
    margin-bottom: 20px;
  }

  .hero__whatIDo {
    font-size: 20px;
  }
}
